svg {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
}

.headline {
  font-size: 3.5rem;
  visibility: hidden;
}

@media (min-width: 1024px) {
  .headline {
    font-size: 3.7rem;
    visibility: hidden;
  }
}

.strapline,
.strapline-two,
.strapline-three {
  font-size: 1.15rem;
  visibility: hidden;
}

@media (min-width: 1024px) {
  .strapline,
  .strapline-two,
  .strapline-three {
    font-size: 0.9rem;
    visibility: hidden;
  }
}

.space-scene {
  visibility: visible;
}

.space-ship {
  visibility: hidden;
}

.space-alien {
  transform: scale(0.5);
  visibility: hidden;
}
.space-planet {
  transform-origin: 20% center;
  visibility: hidden;
}
.star-001,
.star-002,
.star-003,
.star-004 {
  transform: scale(0.1);
  visibility: hidden;
}
